<div class="container">
    <h2>Error - Movie Showtimes Nearby</h2>
    <a class="btn btn-primary" href="/">Go back</a>

    <p>An error occurred while fetching showtimes for the selected movie. Please try again later.</p>
  </div>
